@{
    ViewBag.Title = "Home Page";
}

<div class="wrapper">
    <div id="content">
        <div id="filer-demo"></div>
    </div>
    <div id="sidebar">
        <div class="menu"></div>
        <div class="info"></div>
    </div>
</div>
@Html.Partial("UploadView");

@section MyScripts {
    <script type="text/javascript" src="~/Scripts/App/FileExplorer.js" ></script>
}