<div id="openModal" class="modalDialog">
    <div>
        <a id="btnClose" title="Close" class="close">X</a>

        <h2>Upload</h2>

        Please choose a file you want to upload to the "<span id="folderToUpload"></span>" folder:
        <br/>
        <form id="data" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file"><br/>
            <input type="hidden" name="id" id="id"><br />
            <button>Submit</button>
        </form>
</div>
</div>